@import '@/styles/variables';

.card {
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid $lightGrey;
  background-color: #fff;
  position: relative;
}

.image {
  width: calc(200px / 1.5);
  min-width: calc(200px / 1.5);
  height: 200px;
  box-sizing: border-box;

  @media (max-width: 576px) {
    min-width: 94px;
    width: 94px;
    height: 141px;
  }
}

.poster {
  width: 100%;
  height: 100%;

  img {
    width: calc(200px / 1.5);
    min-width: calc(200px / 1.5);
    height: 200px;
    display: block;

    @media (max-width: 576px) {
      min-width: 94px;
      width: 94px;
      height: 141px;
    }
  }
}

.details {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  &Main {
    width: 100%;
  }

  &Head {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 576px) {
    padding: 14px;
  }
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  overflow: hidden;
  margin-left: 10px;

  h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;

    @media (max-width: 576px) {
      font-size: 1em;
    }
  }

  @media (max-width: 576px) {
    margin-left: 0;
  }
}

.release {
  width: 100%;
  white-space: nowrap;
  color: #999;
}

.overview {
  margin-top: 20px;
  width: 100%;

  @media (max-width: 576px) {
    margin-top: 10px;
  }
}

.cardDeleteIcon {
  position: absolute;
  top: 6px;
  right: 6px;
  background: none;
  color: #000;
  outline: none;
  cursor: pointer;
  padding: 8px;
}

.panel {
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;

  .panelList {
    display: flex;
    align-items: center;
    gap: 20px;

    .option {
      color: #959595;
      display: flex;
      align-items: center;

      button {
        margin-right: 10px;
      }

      ul {
        margin-left: 10px;
      }

      @media (max-width: 576px) {
        width: 100%;

        ul {
          margin-left: 0 !important;
          margin-top: 3px !important;
        }
      }
    }
    
    @media (max-width: 576px) {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    margin-left: -94px;
    margin-top: 30px;
    width: 100%;
  }
}

.rating {
  @media (max-width: 576px) {
    display: none;
  }
}