@import '@/styles/variables';

// body {
//   &::-webkit-scrollbar {
//     background-color: transparent;
//     width: 10px;
//   }

//   &::-webkit-scrollbar-track {
//     background-color: transparent;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #babac0;
//     border-radius: 5px;
//     border: 2px solid #fff;
//   }

//   &::-webkit-scrollbar-button {
//     display: none;
//   }
// }

.nav-up {
  top: -64px;
}

.main {
  margin-top: 64px;
  background: #fff;
}

.layout-main {
  background-color: $tmdbDarkBlue !important;
}

.stickyHeader {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button-primary {
  border-color: $tmdbDarkBlue;
  background-color: $tmdbDarkBlue;
}

.button-secondary {
  border-color: $tmdbDarkBlue;
  background-color: $tmdbLightBlue;
}

.button-success {
  border-color: $tmdbDarkBlue;
  background-color: $tmdbLogoGreen;
}

.button-failure {
  border-color: $tmdbDarkBlue;
  background-color: $tmdbLogoRed;
}

.accountSilver {
  background-color: $accountSilver;
}

.accountPink {
  background-color: $accountPink;
}

.accountPurple {
  background-color: $accountPurple;
}

.accountGreen {
  background-color: $accountGreen;
}

.accountTeal {
  background-color: $accountTeal;
}

.accountLightBlue {
  background-color: $accountLightBlue;
}

.accountBlue {
  background-color: $accountBlue;
}

.accountOrange {
  background-color: $accountOrange;
}

.accountYellow {
  background-color: $accountYellow;
}

.accountRed {
  background-color: $accountRed;
}

.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkerGrey;
    border-radius: 16px;
    border: 6px solid #fff;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.scroller {
  div {
    flex-flow: nowrap;
  }
}

.scroller-wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px;
}

.scroller-with-overflow {
  &::after {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
    will-change: opacity;
    pointer-events: none;
  }
}

.panel {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid $darkerGrey;

  h3 {
    font-size: 1.4em;
    margin-right: 50px;
    color: $primaryColorContrast;
  }

  &-details {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
}

.empty-text--default {
  color: $primaryColorContrast;
}

.pagination-total {
  color: $primaryColorContrast;
}

.details-back-navigation {
  font-weight: 600;
  font-size: 1.3em;
  color: $primaryColor;
  opacity: 0.65;
}

.head-certification {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  padding: 0.06em 4px 0.15em 4px;
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
}

.details-banner-light {
  h2,
  a {
    color: $primaryColorContrast !important;
  }
}

.details-sider-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-weight: 600;
  padding: 20px;
  color: #fff;

  span {
    font-weight: 400;
    opacity: 0.6;
  }
}

.details-sider-title--light {
  color: $primaryColorContrast !important;
}

.backdrop {
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.84) 50%, rgba(31.5, 31.5, 31.5, 0.84) 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &.backdrop-light {

    a,
    p,
    h2,
    h3,
    span {
      color: $primaryColorContrast !important;
    }

    .head-certification {
      border: 1px solid $primaryColorContrast;
    }

    li {
      span {
        color: #fff !important;
      }

      .chart {
        color: $primaryColorContrast !important;
      }

      .head-action-trailer {
        span {
          color: $primaryColorContrast !important;
        }
      }
    }
  }
}

.demo-loadmore-list {
  min-height: 350px;
}