@import '@/styles/variables';

.video {
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  width: 533px;
  height: 300px;

  &Wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-width: 0px;
    width: 100%;
    height: 100%;
  }
}

.playTrailer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  color: $tmdbLightBlue;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.button {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);

  span {
    line-height: 0px;

    svg {
      font-size: 35px;
      width: 100%;
      height: 100%;
      line-height: inherit;
    }
  }
}

