.card {
  width: 150px !important;
  min-width: 150px !important;
}

.panel {
  border-top: none;
  background-image: url('../../../../../public/assets/misc/trending-bg-green.svg');
  background-position: 50% 200px;
  background-size: 1440px;
  background-repeat: no-repeat;
}