@import '@/styles/variables';

.button {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 9px 20px;
  font-size: 1.1em;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.65;
  }

  &:disabled {
    background-color: $darkerGrey;
    border-color: $darkerGrey !important;
    cursor: not-allowed;
  }

  a {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
  }

  &.rounded {
    border: 2px solid #fff;
    transition: linear .1s;
    border-radius: 20px;
  }
}