@import '@/styles/variables';

.container {
  margin: 20px 0px;
}

.content {
  margin-top: 20px;
}

.selectLoading {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}



