@import '@/styles/variables';

.menu {
  width: 100%;
  border-top: 1px px solid #eee;
  padding: 4px 6px 6px 6px;

  .loadingWrapper {
    display: flex;
    justify-content: center;
  }

  .genresList {
    margin-top: -8px;

    .genre {
      display: inline-flex;
      border: 1px solid #9e9e9e;
      border-radius: 14px;
      padding: 4px 12px;
      font-size: 0.9em;
      margin-right: 6px;
      margin-top: 8px;
      transition: 0.1s ease;

      &:hover {
        background-color: $tmdbLightBlue;
      }

      a {
        color: #fff;
      }
    }

    .selectedGenre {
      display: inline-flex;
      border: 1px solid $darkerGrey;
      border-radius: 14px;
      padding: 4px 12px;
      font-size: 0.9em;
      margin-right: 6px;
      margin-top: 8px;
      transition: 0.1s ease;
      background-color: $tmdbLightBlue;

      a {
        color: #fff;
      }
    }
  }
}

.slider {
  .mark {
    color: #fff;
  }
}

.keywordsWarn {
  font-size: 12px;
  opacity: 0.4;
  color: #ffffff;
  margin-top: 8px;
  display: flex;
  animation: animate 0.3s;

  @keyframes animate {
    from {
      opacity: 0;
    }

    to {
      opacity: 0.4;
    }
  }
}