@import '@/styles/variables';

.block {
  width: 100%;
  background-image: radial-gradient(at 30%top, #073844 0%, $tmdbDarkBlue);
  background-position: 0 0;
  background-color: #0a1526;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.inner {
  background-image: url('https://www.themoviedb.org/assets/2/v4/account_pipes/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg');
  padding: 0;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 20px 40px;

  @media (max-width: 890px) {
    padding: 20px;
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 890px) {
    flex-direction: column;
  }
}

.about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  h2 {
    font-weight: 700;
    font-size: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
  }
}

.total {
  white-space: nowrap;
  color: rgba(255, 255, 255, .5);
  margin-bottom: 0;

  @media (max-width: 890px) {
    width: 100%;
    margin-top: 5px;
  }
}