@import '@/styles/variables';

.info {
  background: $lightGrey;
  padding: 20px 40px;

  &List {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $tmdbLightBlue;

    li {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1em;

      span {
        display: inline-block;
        font-size: 3em;
        line-height: 1;
        font-weight: 400;
        margin-bottom: 2px;
      }

      @media (max-width: 890px) {
        display: block;
        width: calc(50vw - 20px);
        height: auto;
        padding: 10px 0;
        font-size: 1em;
      }

      @media (max-width: 576px) {
        font-size: 0.9em;
      }
    }

    @media (max-width: 890px) {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 890px) {
    padding: 20px 0px;
  }
}

.results {
  padding: 40px 20px;

  @media (max-width: 890px) {
    padding: 40px 0px;
  }
}

.listResults {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .item {
    width: calc((100vw - 160px) / 6);
    max-width: calc((1440px - 160px) / 6);
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      margin-right: 20px;
      flex-wrap: wrap;
    }

    @media (max-width: 890px) {
      width: calc(33vw - 20px);
      max-width: calc(33vw - 20px);
      margin-right: 0;
    }

    @media (max-width: 576px) {
      width: calc(50vw - 30px);
      max-width: calc(50vw - 30px);
      margin-right: 0;
    }
  }

  @media (max-width: 890px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}