.mediaPanel {
  [role="tablist"] {
    &::before {
      display: none;
    }
  }
}

.skeletonWrapper {
  display: flex;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

.backdrop {
  @media (max-width: 890px) {
    width: 290px;
    min-width: 290px;
    height: 181px;
    min-height: 181px;
  }
}

.poster {
  @media (max-width: 890px) {
    width: 144px;
    height: 211px;
  }
}