$primaryColor: rgba(220.5, 241.5, 241.5, 1);
$primaryColorContrast: #000000;

$scrollerGrey: rgba(219, 219, 219, 1);
$lightGrey: rgba(227, 227, 227, 1);
$darkerGrey: rgba(200, 200, 200, 1);

$tmdbDarkBlue: rgba(3, 37, 65, 1);
$tmdbLightBlue: rgba(1, 180, 228, 1);
$tmdbLighterGreen: rgba(192, 254, 207, 1);
$tmdbLightGreen: rgba(30, 213, 169, 1);
$tmdbLogoGreen: rgba(144, 206, 161, 1);
$tmdbLogoOrange: rgba(253, 193, 112, 1);
$tmdbLogoRed: rgba(217, 59, 99, 1);
$tmdbLogoPink: rgba(234, 20, 140, 1);

$accountSilver: rgba(149, 149, 149, 1);
$accountPink: rgba(234, 20, 140, 1);
$accountPurple: rgba(128, 91, 231, 1);
$accountGreen: rgba(1, 210, 119, 1);
$accountTeal: rgba(1, 198, 172, 1);
$accountLightBlue: rgba(1, 180, 228, 1);
$accountBlue: rgba(1, 119, 210, 1);
$accountOrange: rgba(210, 119, 1, 1);
$accountYellow: rgba(210, 144, 1, 1);
$accountRed: rgba(212, 2, 66, 1);

$imageBorderRadius: 8px;