@import '@/styles/variables';

.container {
  
  background-color: transparent;
}

.info {
  margin-top: 20px;
  margin-bottom: 30px;

  &Block {
    font-size: 1em;
    line-height: 1.3em;

    h3 {
      display: block;
      margin-bottom: 4px !important;
      font-size: 1.1em !important;
    }
  }
}

.keywords {
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: $primaryColorContrast;

  h3 {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.1em;
  }

  &List {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      margin-right: 5px;
      margin-bottom: 10px;
      line-height: 24px;
      font-size: 0.9em;
      box-sizing: border-box;
      white-space: nowrap;

      a {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid $lightGrey;
        color: $primaryColorContrast;
        padding: 4px 10px;
        border-radius: 4px;
        transition: 0.1s ease-in-out;

        &:hover {
          background-color: rgba(139, 139, 139, 0.1);
        }
      }
    }
  }
}