@import '@/styles/variables';

.social {
  color: $primaryColorContrast;
}

.head {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: baseline;
  margin-bottom: 20px;

  .menu {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: baseline;

    &Item {
      display: inline-block;
      margin-right: 24px;
      padding: 12px 0;
      font-size: 1.1em;
      font-weight: 700;
      color: #1677ff;

      &.active {
        border-bottom: 2px solid #1677ff;
      }

      .count {
        opacity: 0.65;
        font-weight: 600;
      }
    }
  }

  .title {
    margin-right: 50px;
    display: inline-block;
    font-size: 1.4em;
  }
}

.content {
  display: flex;
  width: 100%;
  border-radius: $imageBorderRadius;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}