.info {
  position: relative;
  width: 100%;
}

.image {
  a {
    width: 100%;
    height: 100%;
    line-height: 0;
    display: block;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.strip {
  width: 100%;
  height: 40px;
  background: #001529;
  color: #5a6c70;
  padding: 0 14px;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  line-height: 0px;
  font-weight: 600;
  color: rgba(1, 180, 228, 1);
  font-size: 1.1em;
}

.meta {
  display: inline-flex;
  line-height: 0px;

  .title {
    margin-bottom: 0px;

    a {
      line-height: 0px;
    }
  }
}

.rating {
  position: absolute;
  top: 6px;
  right: 6px;
}