@import '@/styles/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  padding: 0 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto !important;
  width: 100%;
}

.logo {
  margin-right: 15px;
  min-width: 185px;
  font-weight: 700;
  color: #fff;
  font-size: 2em;
  background-image: linear-gradient(90deg, #19d662, #4283af);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftMenu {
  background-color: transparent !important;
  min-width: 320px !important;
  flex: 1 1 auto !important;
}

.rightMenu {
  min-width: 125px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto !important;
}

.menuWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
  width: 100%;
}

.link {
  color: #fff;
  font-weight: 600;
}

.profileHead {
  border-bottom: 1px solid $darkerGrey;

  h2 {
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 1.3em;
    font-weight: 700;
  }

  p {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
  }
}

.profileAvatar {
  width: 32px;
  height: 32px;
  line-height: 0;
  margin: 0 auto;
}