.media {
  padding: 30px 40px;

  animation: fadeIn 0.3s;
}

.sider {
  max-width: 260px;
  width: 260px;
  background-color: transparent !important;
}

.observer {
  background: tranparent;
  height: 0;
  width: 0;
  z-index: -10;
}

.skeletonLoader {
  padding: 30px 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}