@import '@/styles/variables';

.head {
  background-color: #fff;
  color: $primaryColorContrast;
  border-bottom: 1px solid $lightGrey;

  @media (max-width: 890px) {
    height: 47px;
  }
}

.inner {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: 400;

  @media (max-width: 890px) {
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    padding-left: 20px;
  }

  @media (max-width: 550px) {
    padding-left: 10px;
  }
}

.dropdownRoot {
  &>ul {
    &>li {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;

      >div {
        padding-left: 0px !important;
      }

      &.ant-dropdown-menu-submenu {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  @media (max-width: 890px) {
    margin-right: 20px !important;
  }
}