@import '@/styles/variables';

.page {

  &Title {
    color: $primaryColorContrast;
  }
}

.sortable {
  width: 100%;

  &Header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;

    h2 {
      font-weight: 700;
    }
  }

  .titleGroup {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 20px;

    .navigation {
      display: flex;
      gap: 20px;

      a {
        color: $primaryColorContrast;
      }

      .navItem {
        font-size: 1em;
        font-weight: 500;
        border-color: #805be7;

        &Active {
          padding-bottom: 4px;
          border-width: 4px;
          border-bottom-style: solid;
        }
      }
    }
  }

  &Title {
    display: flex;
    color: $primaryColorContrast;
  }

  &Sort {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;

    .sortGroup {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 240px;

      span {
        color: $primaryColorContrast;
      }
    }
  }

  &Cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}