@import '@/styles/variables';

.page {
  margin-top: 20px;

  &Title {
    color: $primaryColorContrast;
  }
}

.sortable {
  width: 100%;

  &Header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;

    h2 {
      font-weight: 700;
    }
  }

  &Title {
    display: flex;
    align-items: baseline;
    width: 100%;
    color: $primaryColorContrast;
  }

  &Sort {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;

    .sortGroup {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 240px;

      span {
        color: $primaryColorContrast;
      }
    }
  }

  &Cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}