.lists {
  width: 100%;

  &Header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;

    h2 {
      font-weight: 700;
    }

    button {
      margin-left: 20px;
    }
  }

  &Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
