@import '@/styles/variables';

.button {
  display: inline-flex;
  align-items: center;
  padding: 9px 20px;
  font-size: 1.1em;
  color: #fff;
  border-color: $tmdbDarkBlue;
  background-color: $tmdbDarkBlue;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $primaryColorContrast;
    border-color: $primaryColorContrast !important;
  }

  a {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
  }

  &.rounded {
    border: 2px solid #fff;
    transition: linear .1s;
    border-radius: 20px;
  }
}