@import '@/styles/variables';

.head {
  background-color: $tmdbDarkBlue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  color: #fff;

  h2 {
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;

    span {
      opacity: 0.65;
      font-weight: 400;
      cursor: pointer;
    }
  }

  h4 {
    margin-bottom: 12px;
    font-weight: 500;
  }

  h3 {
    margin-top: 20px;
    font-size: 1.3em;
  }
}

.menu {
  display: flex;
  align-items: center;

  li {
    margin-right: 20px;

    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.account {
  display: flex;
  align-items: center;
  margin-right: 40px !important;

  a {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    img {
      border-radius: 50%;
    }
  }

  p {
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.1em;
  }
}

.description {
  max-height: 106px;
  overflow-y: auto;

  p {
    margin-bottom: 16px;
  }
}