@import '@/styles/variables';

.inner {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.panel {
  width: 100%;
  margin-bottom: 20px;

  h3 {
    font-size: 1.4em;
    font-weight: 600;
    color: $primaryColorContrast;

    span {
      font-weight: 400;
      opacity: 0.65;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 6px;
}

.sortableSort {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;

  .sortGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 240px;

    span {
      color: $primaryColorContrast;
    }
  }

  &Title {
    @media (max-width: 890px) {
      display: none;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}