@import '@/styles/variables';

.collectionWaypoint {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  animation: fadeIn 0.3s;
}

.header {
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  padding: 0 20px;
  height: 330px;
  color: $primaryColor;
}

.head {
  flex: 1 1 auto;
}

.poster {
  flex: 0 0 auto;

  img {
    border-radius: $imageBorderRadius;
  }
}

.title {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}